<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <LayoutView Layout="@typeof(MainLayout)">
                <TransitionableRoutePrimary RouteData="@routeData" ForgetStateOnTransition="true">
                    <TransitionableRouteView DefaultLayout="@typeof(MyViewLayout)" />
                </TransitionableRoutePrimary>
                <TransitionableRouteSecondary RouteData="@routeData" ForgetStateOnTransition="true">
                    <TransitionableRouteView DefaultLayout="@typeof(MyViewLayout)" />
                </TransitionableRouteSecondary>
            </LayoutView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
